:root {
	display: flex; 
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
    font-weight: bold;
}
#page-main {
	min-width: 50vw;
	min-height: 50vh;
}
#sidebar {
	position:fixed;
    top:0;
    left:0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-size: smaller;
	padding: 1.5em;
}
#sidebar > a {
	font-size:smaller;
	margin-top: .5em;
	margin-bottom: 1em;
}
#sidebar > a:first-of-type {
	font-size: larger;
	margin-bottom: 1.5em;
}
a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	color: inherit;
	background: #ddd;
	text-decoration: none;
	border-radius: 1em;
}
.transaction-list {
	border: 1px dashed #c0c0c0;
}
ul, li {
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
}
li {
	flex-direction: row;
}
.flashes {
	margin-bottom: 3em;
	font-variant: small-caps;
	box-shadow:0px 0px 3em 2em #b06259 ;
	padding: 1.5em;
	border-radius: 1em;
}
input, select {
	margin-top: 1em;
	margin-bottom: 2em;
	padding: .3em;
	text-align: center;
}
input:focus {
	background-color: rgba(239, 238, 203, 0.9);
}
form {
	text-align: center;
	display: grid;
	margin: 2em;
}
