{% extends "base.html" %}

{% block title %}Add Data - {{super()}}{% endblock %}
{% block head %}
<script src="/static/ajax.js?{{ range(0, 99999) | random  }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

<div class="text-center col-6 offset-4 d-flex" id="addCatDiv">
	<div class="d-flex flex-row justify-content-between">
	<input type="text" name="addCat" id="addCat" minlength="1" maxlength="50" placeholder="Category" required/></input>
	<input type="number" name="catAmount" id="catAmount" placeholder="$100.00" required/>
	</div>
	<br/>
	<button class="btn btn-success" name="addCatBtn" id="addCatBtn" type="button">Add Category</button>
</div>
	
<div class="text-center col-6 offset-4 d-none" id="delCatDiv">
    <select name="delCat" id="delCat">
    <option value="" disabled selected>Category</option>
	{% for c in g.categories %}
    	<option value="{{ c }}">{{ c | striptags}}</option>
	{% endfor %} 
	</select><br/>
	<button class="btn btn-warning" name="delCatBtn" id="delCatBtn" type="button">Remove Category</button>
</div>

<div class="text-center col-6 offset-4 d-none" id="addXDiv">
	<input type="text" name="xName" id="xName" minlength="5" maxlength="100" placeholder="Transaction Details" required/><br/>
	<input type="date" name="xDate" id="xDate" placeholder="Date (mm/dd/yyyy)" required/><br/>
	<input type="number" name="xTotal" id="xTotal" placeholder="Amount" required/><br/>
    <select name="xSelectCat" id="xSelectCat">
    <option value="" disabled selected>Category</option>
	{% for c in g.categories %}
    	<option value="{{ c }}">{{ c | striptags}}</option>
	{% endfor %} 
	</select><br/>
	<button class="btn btn-success" name="addXBtn" id="addXBtn">Add Transaction</button>
</div>

<div class="text-center col-6 offset-4 d-none" id="delXDiv">
	<select name="delX" id="delX">
    	<option value="" disabled selected>Transaction</option>
		{% for c in g.transactions %}
	    	<option value="{{ c }}">{{ g.transactions[c]['name'] +" - "+ g.transactions[c]['total'] +" - "+ g.transactions[c]['date'] +" - "+ g.transactions[c]['category']  }}</option>
		{% endfor %} 
	</select><br/>
	<button class="btn btn-warning" name="delXBtn" id="delXBtn" type="button">Remove Transaction</button>
</div>

{% endblock %}